services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${DB_USER}"]
      interval: 3s
      timeout: 3s
      retries: 5
    ports:
      - "${DB_PORT}:5432"
    restart: unless-stopped
    networks:
      - app-network

  migrate:
    image: golang:1.22
    depends_on:
      db:
        condition: service_healthy
    working_dir: /migrations
    volumes:
      - ./migrations:/migrations
    command: [
    "goose", "-dir", "/migrations", "postgres",
    "postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable",
    "up"
    ]
    networks:
      - app-network

  app:
    build: .
    depends_on:
      migrate:
        condition: service_completed_successfully
    environment:
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge