services:
  app:
    build:
      context: .
      platforms:
        - linux/amd64
    depends_on:
      migrate:
        condition: service_completed_successfully
    environment:
      DATABASE_URL: postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable
    ports:
      - "8080:8080"
    networks:
      - app-network
    env_file:
      - .env

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 3s
      timeout: 3s
      retries: 5
    ports:
      - "${DB_PORT}:5432"
    networks:
      - app-network

  migrate:
    build:
      context: .
      dockerfile: Dockerfile.migrate
    depends_on:
      db:
        condition: service_healthy
    working_dir: /migrations
    volumes:
      - ./migrations:/migrations
    command: [
      "-dir", "/migrations",
      "postgres",
      "postgres://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?sslmode=disable",
      "up"
    ]
    networks:
      - app-network

volumes:
  db_data:

networks:
  app-network:
    driver: bridge